body {
    margin:0;
    padding:0;
    background: #FFFFFF;
}

.name {
    width: 100%;
    height: 300px;
    background: #7D8BB5;
    transform: skewY(-5deg);
}

.name .content {
    width:50%;
    height: 50%;
    position:absolute;
    left:25%;   
}

.name  .content .p-1 {
    color:#FFFFFF;
    font-family: "Baloo Tamma 2", sans-serif ;
    font-weight: bolder;
    font-size: 60px;
    transform: skewY(5deg);
    margin-bottom: 0;
}

.name .content .p-2 {
    color:#FFFFFF;
    font-family: "Baloo Tamma 2", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    transform: skewY(5deg);
    margin-top: 0;
    margin-bottom: 0;
    

}



.informacion {
    width: 90%;
    height: auto;
    background: #7D8BB5;
    margin:5% auto;
    padding: 20px;
    border-radius: 20px;
}

.informacion .tituloseccion{
    color:#FFFFFF;
    font-family: "Baloo Tamma 2", sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #FFFFFF dashed;
}

.informacion .tituloinfo {
    color: #FFFFFF;
    font-family: "Baloo Tamma 2", sans-serif ;
    font-weight: bolder;
    font-size:large;
    display: inline;

}

.informacion .infoname{
    color: black;
    font-family: "Baloo Tamma 2", sans-serif ;
    font-weight: normal;
    font-size:large;
    display: inline;

}

.informacion .titulotlf {
    color: #FFFFFF;
    font-family: "Baloo Tamma 2", sans-serif ;
    font-weight: bolder;
    font-size: large;
    display:inline;
}

.informacion .numero {
    color:black;
    font-family: "Baloo Tamma 2", sans-serif ;
    font-weight: normal;
    font-size: large;
    display: inline;
}

.informacion .titulogit{
    color: #FFFFFF;
    font-family: "Baloo Tamma 2", sans-serif ;
    font-weight: bolder;
    font-size: large;
    display: inline;
}

.informacion .git{
    color: black;
    font-family: "Baloo Tamma 2", sans-serif ;
    font-weight: normal;
    font-size: large;
    display:inline;
}

.informacion .titulocorreo{
    color: #FFFFFF;
    font-family: "Baloo Tamma 2", sans-serif ;
    font-weight: bolder;
    font-size: large;
    display: inline;
}

.informacion .correo{
    color: black;
    font-family: "Baloo Tamma 2", sans-serif ;
    font-weight: normal;
    font-size: large;
    display:inline;
}

.informacion .skills{
    color:#FFFFFF;
    font-family: "Baloo Tamma 2", sans-serif;
    font-weight: bolder;
    font-size: larger;
    
}

.educacion {
    width: 90%;
    height: auto;
    background: #7D8BB5;
    margin:5% auto;
    padding: 20px;
    border-radius: 20px;
    
}

.educacion .titulo{
    color:#FFFFFF;
    font-family: "Baloo Tamma 2", sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #FFFFFF dashed;
}

.educacion .campus{
    color: #FFFFFF;
    font-family: "Baloo Tamma 2", sans-serif;
    font-weight: bolder;
    font-size: x-large;
    

}

.educacion .camp{
    color:#FFFFFF;
    font-family: "Baloo Tamma 2", sans-serif;
    font-weight: normal;
    font-size: large; 
    margin-bottom: 0;
    
}   


.educacion .colegio{
    color: #FFFFFF;
    font-family: "Baloo Tamma 2", sans-serif;
    font-weight: bolder;
    font-size: x-large;
}




.educacion .was{
    color:#FFFFFF;
    font-family: "Baloo Tamma 2", sans-serif;
    font-weight: normal;
    font-size: large; 
}

.informacion .xp {
    color: #FFFFFF;
    font-family: "Baloo Tamma 2", sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
}

.informacion .fechxp {
    color: #FFFFFF;
    font-family: "Baloo Tamma 2", sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}


.informacion .concept {
    color: #FFFFFF;
    font-family: "Baloo Tamma 2", sans-serif;
    font-weight: normal;
    font-size: large;
  
}


