/*  para  encabezados */
header {
    text-align: center; /* Centra todo el contenido del encabezado */
    background-color: lightsteelblue;
}

.objetivo-corto-plazo{
    background-color:antiquewhite;
    padding: 20px ;
    margin: 20px;
}