body{
    background: rgb(20, 35, 49);
}

.container{
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto ;
    background: rgb(3, 3, 3);
    position:absolute;
    left: 10%;
    /* transform: translate(50%, 0%); */
    height: auto;
    width: auto;
    border-radius: 15px;
    padding:2%;

}



#up{
    border-radius: 15px;
    grid-column: 1/3;
    grid-row: 1/1;
    /* width: 81vh; */
    border-radius: 15px;
    /* text-align:; */
    /* width: 100%;
    height: 100%; */
}

#purp{

    grid-column: 3/3;
    grid-row: 1/2;
    /* width: 40vh; */
    border-radius: 15px;
    padding: 5%;   
}

#tres{
    grid-column: 1/2;
    grid-row: 2/2;
    /* width: 40vh; */
    border-radius: 15px;
    text-align: center;
}

#cuatro{
    grid-column: 2/4;
    grid-row: 2/2;
    /* width: 40vh; */

    border-radius: 15px;
    text-align: center;
    
}



